# 20220324: Test saving Dataframe to SQLite .db file

In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
fname = "pr_rcp85_land-rcm_uk_12km_01_day_20201201-20301130"

In [3]:
%%time
df = pd.read_csv(f"{fname}.csv")
df.head()

CPU times: user 46 s, sys: 20.8 s, total: 1min 6s
Wall time: 1min 24s

,Unnamed: 0,ensemble_member,time,projection_y_coordinate,projection_x_coordinate,ensemble_member_id,month_number,year,yyyymmdd,grid_latitude,grid_longitude,latitude,longitude,pr
0,0,1,2020-12-01 12:00:00,-102000.0,-210000.0,HadREM3-GA705-r001i1p00000,12,2020,20201201,1.432699,-18.241456,48.682767,-10.291939,0.690706
1,1,1,2020-12-01 12:00:00,-102000.0,-198000.0,HadREM3-GA705-r001i1p00000,12,2020,20201201,1.404462,-18.138041,48.694350,-10.130549,0.853663
2,2,1,2020-12-01 12:00:00,-102000.0,-186000.0,HadREM3-GA705-r001i1p00000,12,2020,20201201,1.376215,-18.034611,48.705708,-9.969056,1.088705
3,3,1,2020-12-01 12:00:00,-102000.0,-174000.0,HadREM3-GA705-r001i1p00000,12,2020,20201201,1.347959,-17.931165,48.716841,-9.807464,1.452076
4,4,1,2020-12-01 12:00:00,-102000.0,-162000.0,HadREM3-GA705-r001i1p00000,12,2020,20201201,1.319692,-17.827705,48.727750,-9.645773,1.969763

In [4]:
conn = sql.connect(f"{fname}.db")

In [5]:
%%time
df.to_sql('ukcp18', conn)

/Users/kevin.donkers/opt/miniconda3/envs/data/lib/python3.7/site-packages/pandas/core/generic.py:2879: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

CPU times: user 2min 36s, sys: 2min 20s, total: 4min 56s
Wall time: 7min 19s

In [6]:
%%time
weather = pd.read_sql('SELECT yyyymmdd, pr FROM ukcp18', conn)
weather.head()

CPU times: user 43.4 s, sys: 33.3 s, total: 1min 16s
Wall time: 3min 19s

   yyyymmdd        pr
0  20201201  0.690706
1  20201201  0.853663
2  20201201  1.088705
3  20201201  1.452076
4  20201201  1.969763

## Conclusion:
The data reduced in size from a 5.5 GB `.csv` to a 4.5 GB `.db`<br>
This is not enough of a reduction to warrant saving to SQLite only, perhaps I will need to set up a proper database.<br>
SQLite is cool and easy to use.